<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation=
        "urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
                id="Magenest_Movie::magenest"
                title="Magenest"
                module="Magenest_Movie"
                sortOrder="51"
                resource="Magenest_Movie::magenest"/>
        <add
                id="Magenest_Movie::movies"
                title="Movies"
                module="Magenest_Movie"
                sortOrder="55"
                action="magenest/movies/index"
                parent="Magenest_Movie::magenest"
                resource="Magenest_Movie::movies"/>

        <add
                id="Magenest_Movie::movie"
                title="Movie"
                module="Magenest_Movie"
                sortOrder="70"
                action="magenest/magemovie/"
                parent="Magenest_Movie::movies"
                resource="Magenest_Movie::movie"/>
        <add
                id="Magenest_Movie::direcctor"
                title="Director"
                module="Magenest_Movie"
                sortOrder="80"
                action="magenest/director"
                parent="Magenest_Movie::movies"
                resource="Magenest_Movie::director"/>
        <add
                id="Magenest_Movie::actor"
                title="Actor"
                 module="Magenest_Movie"
                resource="Magenest_Movie::actor"
                sortOrder="90"
                action="magenest/actor/index/"
                parent="Magenest_Movie::movies"/>
    </menu>
</config>



